@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sassy+Frass&display=swap');
/* CSS Document */
/* Especificidad: (id, class, element) (1, 0, 0) */
/* 
properties: margin, padding;

sides: t = top; r = right; b = bottom; l = left;

margin: 20px; // trbl
margin: 20px 20px; tb rl
maring: 20px 20px 20px; t rl b
margin: 20px 20px 20px 20px; t r b l

padding: 20px; // trbl
padding: 20px 20px; tb rl
padding: 20px 20px 20px; t rl b
padding: 20px 20px 20px 20px; t r b l

*-top: 20px;
*-right: 20px;
*-bottom: 20px;
*-left: 20px;

selector {
    property: value;
}

*/

/* Selector Universal */

/* {
    margin: 0;
    padding: 0;
    margin: 2px;
    border: 1px solid black;
} */

/* Selector de ID */

#titulo  {
    color: blue;
    font-size: 50px;
    box-shadow: 2px 2px 5px #666;
    font-family: 'Sassy Frass', 'Roboto';
}

#main {
    width: 300px;
    height: auto;
    margin: 20px auto;
    background-color: cadetblue;
    color: white;
}

/* Selector de Clase */

.menu {
    font-size: 20px;
    font-family: 'Roboto', Courier, monospace;
    color: greenyellow;
}

/* Selector Descendiente */

#home #menu {
    background-color: brown;
    color: white;
    text-align: center;
    font-family: 'Roboto';
}

/* Selector Hijo */

#home > .menu {
    background-color: brown;
    color: white;
    text-align: center;
    font-family: 'Roboto';
}

#home > #header > .menu {
    background-color: brown;
    color: white;
    text-align: center;
    font-family: 'Roboto';
}

/* Selector de Elemento o Etiqueta */

p {
    color: red;
}

a {
    color: red;
}

h1, h2, h3 {
    color: blueviolet;
}

h4, h5, h6 {
    color: brown;
}

h1, h2, h3, h4, h5, h6 {
    width: 50%;
    margin: 20px auto;
}

#header, #main, #footer {
    width: 100%;
}

#header {
    color: blanchedalmond;
}

/* Selector Adyacente */

p + span {
    margin: 10px 0;
    color: blue;
}


/* Selector Hermano */


.info > h3 ~ p {
    color: pink;
}

/* Selector de Atributo */

/* que este presente el atributo class */
a[class]{
    color: green;
}

/* que el atributo class sea igual al valor dado */
a[class="link"] {
    color: brown;
}

/* que el atributo class incluya el valor dado */
a[class*="3"]{
    color: gray;
}

/* que el atributo href comience con el valor dado */
a[href^="https://"]{
    color: crimson;
}

/* que el atributo href termine con el valor dado */
a[href$=".com"]{
    color: darkgoldenrod;
}


/* que el atributo contenta el valor dado */
a[class~="link2"]{
    color: blueviolet;
}

a:hover {
    color: blue;
}



.content {
    width: 300px;
    height: 300px;
    background-color: cadetblue;
    color: white;
    margin-bottom: 80px;
}

.content > .header {
    width: 100%;
    height: auto;
    background-color: blueviolet;
}

.content > .header + .body {
    width: 100%;
    height: 100vh;
    background-color: cornflowerblue;
}

.usuarios {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    border: 1px solid black;
}

.usuarios .usuario {
    width: 300px;
    height: 60px;
    display: flex;
    border: 1px solid gray;
    background-color: aquamarine;
}

.usuarios .usuario .photo {
    width: 60px;
    height: 60px;
    /* background-color: cadetblue; */
}

.usuarios .usuario .photo img {
    border-radius: 100%;
}

.usuarios .usuario .info p {
    width: 100%;
    font-size: 15px;
    margin: 5px 0 0;
}

.usuario .info span {
    font-size: 10px;
    color: gray;
}

.box {
    width: 200px;
    height: 200px;
    background-color: blueviolet;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box .punto {
    width: 10px;
    height: 10px;
    background-color: white;
}


@media screen and (min-width: 320px) and (max-width: 499px){
    body {
        background-color: #ccc;
    }
}

@media screen and (min-width: 500px) and (max-width: 699px){
    body {
        background-color: #666;
    }
}

@media screen and (min-width: 700px) and (max-width: 1023px) {
    body {
        background-color: #999;
    }
}


.icons {
    width: 400px;
    height: 40px;
    margin: 0 auto;
    padding: 10px 10px;
    display: inline-block;
    align-items: center;
    /* justify-content: space-between; */
    background-color: white;
    box-sizing: border-box;
}


.icons [class~="fa-solid"] {
    color: blue;
    margin: 0 10px;
}

.icons [class~="fa-brands"] {
    color: red;
    margin: 0 10px;
}

.icons [class~="fa-regular"] {
    color: greenyellow;
    margin: 0 10px;
}

.icons :nth-child(6) {
    color: greenyellow;
    float: right;
}

.icons :nth-child(7) {
    color: brown;
    float: right;
}


.panel {
    width: 200px;
    height: 30px;
    background-color: gray;
    margin: 0 auto;
}

.panel .panel-left {
    float: left;
    width: 90%;
    height: 30px;
    background-color: aquamarine;
    padding: 5px 10px;
    box-sizing: border-box;
}

.panel .panel-right {
    float: right;
    width: 10%;
    height: 30px;
    padding: 5px 6px;
    background-color: cadetblue;
    box-sizing: border-box;
}

.inline-div {
    width: 1200px;
}

.inline-div div {
    display: inline-block;
    width: 350px;
}